.app__card-list {
	margin-bottom: 50px;
}

.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	-ms-justify-content: space-between;
	width: 100%;
	&::before,
	&::after {
		-ms-content: "";
		-ms-display: block;
	}
}