.app__card-list {
	margin-bottom: 50px;
}

.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	&::before,
	&::after {
		content: "";
		display: block;
	}
}