@font-face {
	font-family: Exo;
	src: url(./font/Exo2.0-Thin.otf);
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.app__title {
	margin: 36px 0 0 0;	
}

.title {
	font-family: Exo;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 1px 1px #000000;
}